---
import { Navigation } from "@ui";
import { Footer } from "@ui";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body class="flex min-h-screen flex-col bg-white text-gray-900">
    <Navigation class="sticky top-0 z-50 bg-white shadow-md" />
    <main class="flex flex-col items-center justify-center flex-grow">
      <slot />
    </main>
    <Footer
      class="mt-auto border-t border-gray-200 bg-gray-50 py-6 text-sm text-gray-600"
    />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
