---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const legalInfo = await getCollection("legalInfo");
  return legalInfo.map((info) => ({
    params: { slug: info.slug },
    props: { info },
  }));
};

const { info } = Astro.props;
const { Content } = await info.render();
---

<Layout>
  <h1>{info.data.title}</h1>
  <Content />
</Layout>
