---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
// const legalInfo = await getCollection("legalInfo");
---

<Layout>
  <div>
    <h1>Legal Information</h1>
    {
      /*  legalInfo.map((info) => (
        <div key={info.slug}>
          <h2>{info.title}</h2>
          <p>{info.text}</p>
        </div>
      )) */
    }
  </div></Layout
>
