---
import { getEntry } from "astro:content";

const imprint = await getEntry("legalInfo", "imprint");
const policy = await getEntry("legalInfo", "policy");
const { class: className = "" } = Astro.props;
---

<footer class={className}>
  <div
    class="mx-auto flex max-w-5xl flex-col items-center justify-between gap-2 px-4 sm:flex-row"
  >
    <span>© {new Date().getFullYear()} MySite</span>
    <nav class="flex gap-6">
      {
        imprint && (
          <a
            href={`/legalInfo/${imprint.slug}/`}
            class="hover:text-gray-900 transition-colors"
          >
            Imprint&nbsp;
          </a>
        )
      }

      {
        policy && (
          <a
            href={`/legalInfo/${policy.slug}/`}
            class="hover:text-gray-900 transition-colors"
          >
            Privacy Policy
          </a>
        )
      }
    </nav>
  </div>
</footer>
