---
import Layout from "../../layouts/Layout.astro";
import { getEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("legalInfo");
  return items.map((e: any) => ({ params: { slug: e.slug } }));
}
``;
const { slug } = Astro.params;
const entry = await getEntry("legalInfo", slug);

if (!entry) {
  throw new Error(`legalInfo entry not found: ${slug}`);
}

const { Content } = await entry.render();
const { data } = entry;
---

<Layout>
  <main class="flex flex-col items-center">
    <h1 class="text-3xl font-bold text-center my-8">{data.title}</h1>

    <article class="w-full md:w-[70%] text-left mx-[15%]">
      <Content />
    </article>
  </main>
</Layout>
