---
import Layout from "../../layouts/Layout.astro";
import { getEntryBySlug, getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("legalInfo");
  return items.map((e: any) => ({ params: { slug: e.slug } }));
}

const { slug } = Astro.params;
const entry = await getEntryBySlug("legalInfo", slug);

if (!entry) {
  throw new Error(`legalInfo entry not found: ${slug}`);
}

const { Content } = await entry.render();
const { data } = entry;
---

<Layout>
  <h1>{data.title}</h1>
  <Content />
</Layout>
